body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF; 
    padding: 64px 120px;
}

@media (min-width: 1071px) and (max-width: 1280px) {
    .header {
        padding: 48px 16px;
    } 
}

@media (max-width: 941px) {
    .header {
        padding: 48px 16px;
    }  
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/header_bgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:  calc(100vw - 240px);
    height: calc(100vh - 128px);
}

@media (min-width: 1071px) and (max-width: 1280px) {
    .header-content {
        width:  calc(100vw - 32px);
        height: calc(100vh - 96px);
    }  
}

@media (max-width: 941px) {
    .header-content {
        width:  calc(100vw - 32px);
        height: calc(100vh - 96px);
    }  
}

.header-video-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: skew(-20deg); /* рассчиталала перекос, зная катеты прямоугольного треугольника */
    background: #18C576;
    padding: 8px 28px;
    cursor: pointer;
}

.header-video-button:hover {
    opacity: 0.8; 
}

.header-video-button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: skew(20deg);
}

.header-video-text {
    font-style: italic;
    font-size: 14px; 
    line-height: 1.2; 
    letter-spacing: 0;
    color: white;
}

.header-video-play {
    margin-left: 10.92px;
}

.main-body {
    background-color: #F2F2F2;
    padding: 64px 120px;
}

@media (min-width: 1071px) and (max-width: 1280px) {
    .main-body {
        padding: 48px 16px;
    }  
}

@media (max-width: 941px) {
    .main-body {
        padding: 48px 16px;
    }  
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr) repeat(2, 1fr); /* 4 колонки */
    grid-template-rows: repeat(2, 1fr); /* 2 строки */
    gap: 19px;
}

.peas {
    grid-column: 1; /* Первая колонка */
    grid-row: span 2; /* Занимает две строки */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/images/peas.png);
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 5px;
    height: 328px;
   
}

.blueberry {
    grid-column: 2; /* Вторая колонка */
    grid-row: 1; /* Первая строка */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/images/blueberry.png);
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 5px;
    height: 154px;
}

.carrot {
    grid-column: 2; /* Вторая колонка */
    grid-row: 2; /* Вторая строка */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/images/carrot.png);
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 5px;
    height: 154px;
}

.popcorn-container {
    background-color: #FFFFFF;
    grid-column: 3; /* Третья колонка */
    grid-row: span 2; /* Занимает две строки */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 328px;
}

.ice-cream-container {
    background-color: #FFFFFF;
    grid-column: 4; /* Четвертая колонка */
    grid-row: span 2; /* Занимает две строки */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 328px;
}

.popcorn {
    background-image: url(assets/images/popcorn.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 55%;
    border-radius: 5px 5px 0 0;
}

.ice-cream {
    background-image: url(assets/images/ice-cream.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0 0; 
    height: 55%;
}

.card-tail-ice-cream-popcorn {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 12px;
}

@media (max-width: 733px){
    .popcorn,
    .ice-cream {
        height: 65%;
    }
    .card-tail-ice-cream-popcorn {
        height: 35%;
    }
}

.card-head-inline {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
}

.card-text {
    font-size: 20px; 
    line-height: 0.95; 
    letter-spacing: 0;
    font-weight: 600;
    color: white;
}

.favorites {
    display: flex;
    flex-direction: column;
}

.favorites-icon {
    text-decoration: none; 
    display: flex; 
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    height: 19px;
    width: 19px;
    transition: transform 0.1s;
    cursor: pointer;
    transition: transform 0.2s;
}

@media (min-width: 1071px) {
    .favorites-icon:hover {
        transform: scale(1.5);
    }
    .favorites-icon:active {
        transform: scale(1);
    }
}

@media (max-width: 1070px) {
    .favorites-icon:active {
        transform: scale(1.5);
    }
}

.card-tail-inline {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end; 
    padding: 12px 12px;
}

.notes {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 4px;
}

.note {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 0 11px;
    font-size: 12px; 
    line-height: 23px; 
    letter-spacing: 0;
    font-weight: 600;
    color: white;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.price {
    font-size: 20px; 
    line-height: 20px; 
    letter-spacing: 0;
    font-weight: 700;
    color: white;
}

.button-form {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-size: 12px; 
    line-height: 20px; 
    letter-spacing: 0;
    font-weight: 700;
    color: white;
    background-color: #18C576;
    padding: 6px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s;
}

@media (min-width: 1071px) and (max-width: 1280px) {
    .button-form {
        padding: 6px 10px;
    }
}

.button-form:hover {
    background-color: #15A76B;
}

.button-form:active {
    transform: scale(0.95);
}

.card-text-ice-cream-popcorn {
    font-size: 14px; 
    font-weight: 600;
    line-height: 1.2; 
    letter-spacing: 0;
    color: #444444;
}

.modal-container {
    display: none;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    justify-content: center; 
    align-items: center; 
    transition: opacity 0.3s ease; 
}

.modal-content {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 387px;
    height: 223px;
    padding: 12px; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    box-sizing: border-box;
}

@media (min-width: 400px) and (max-width: 733px) {
    .modal-content {
        width: 370px;
        height: 220px;
        padding: 10px; 

    }
}

@media (max-width: 400px) {
    .modal-content {
        width: 300px;
        height: 220px;
        padding: 10px; 

    }
}

.modal-heading {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.modal-close-button {
    color: #444444; 
    font-size: 24px; 
    font-weight: bold; 
    cursor: pointer;
}

.modal-close-button:hover {
    color: #aaa;
}

.modal-heading-text {
    font-size: 20px; 
    line-height: 0.95; 
    letter-spacing: 0;
    font-weight: 600;
    color: #444444;
}

.modal-form {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    gap: 20px;
}

input::placeholder {
    font-size: 12px; 
    line-height: 1.2; 
    letter-spacing: 0;
    font-weight: 500;
    color: #444444;
}

.modal-content-tail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkbox-text {
    font-size: 8px; 
    line-height: 1.2; 
    letter-spacing: 0;
    font-weight: 500;
    color: #444444;
}

.styled-input {
    border-radius: 5px;
    padding: 10px 12px;
    border: 1px solid #E6E6E6;
    background-color: #F2F2F2;
}

.custom-checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
 input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8px; 
    width: 8px; 
    border-radius: 2px; 
    border: 1px solid #D1D1D1; 
    background-color: #F2F2F2; 
    position: relative; 
    cursor: pointer;
}

.custom-checkbox:after {
    content: "";
    position: absolute; 
    border-radius: 5px;
    width: 5px; 
    height: 5px; 
    background-color: #18C576;
    opacity: 0;
    transition: opacity 0.2s ease;
}

input[type="checkbox"]:checked + .custom-checkbox:after {
    opacity: 1; 
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.error-message {
    display: none;
    font-size: 8px; 
    line-height: 1.2; 
    letter-spacing: 0;
    font-weight: 500;
    padding-left: 12px;
    color: #E44B4B;
}

@media (min-width: 734px) and (max-width: 1070px) {
    .cards {
        grid-template-columns:  2fr 1fr 1fr; /* 3 колонки */
        grid-template-rows: 1fr 1fr; /* 2 строки */
        gap: 20px;
    }
    .peas {
        grid-column: 1;
        grid-row: 1;
    }
    .blueberry {
        grid-column: 1;
        grid-row: 2;
    }
    .carrot {
        grid-column: 2 / 4;
        grid-row: 2;
    }
    .popcorn-container {
        grid-column: 2;
        grid-row: 1;
    }
    .ice-cream-container {
        grid-column: 3;
        grid-row: 1;
    }
}

@media (max-width: 733px) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap :16px;
    }
    .peas {
        grid-column: 1;
        grid-row: 1;
        height: 328px;
    }
    .blueberry {
        grid-column: 1;
        grid-row: 2;
        height: 175px;
    }
    .carrot {
        grid-column: 1;
        grid-row: 3;
        height: 175px;
    }
    .popcorn-container,
    .ice-cream-container {
        display: none;
    }

    .slider {
        display: flex; /* Показываем слайдер на мобильных устройствах */
        overflow-x: auto; /* Позволяет прокручивать по горизонтали */
        scroll-snap-type: x mandatory; /* Для плавной прокрутки */
        -webkit-overflow-scrolling: touch; /* Для iOS */
        padding-top: 16px;
        margin-left: 49px;
    }
    
    .slide {
        scroll-snap-align: start;
        box-sizing: border-box; 
        margin-right: 16px;
    }

    .slide:last-child {
        margin-right: 0; /* Убираем отступ у последнего слайда */
    }
    
    /* Опционально: убираем стандартные стили прокрутки */
    .slider::-webkit-scrollbar {
        display: none;
    }

    .mobile-popcorn-container {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        height: 410px;
        width: 230px;
    }
    
    .mobile-ice-cream-container {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        height: 410px;
        width: 230px;
    }
 }

